<section id="summary-mode">
    <div class="flex-row gap align-items:center tab outlined">
        <div class="flex-row gap-small align-items:center">
            {% lucide "bot-message-square" %}
            <p id="summary-mode-label" data-i18n="summarizedMode">summarized mode</p>
        </div>
      <label class="toggle">
        <input type="checkbox" id="summaryModeSwitch" aria-labelledby="summary-mode-label">
        <span class="slider"></span>
      </label>
    </div>
</section>
