---
layout: layouts/base.njk
---

{% include "components/page-header.njk" %}

<main class="center-grid">
    <div class="center-grid-content">
        <article>
            {{ content | safe }}
        </article>
    </div>
</main>
