---
permalink: "/"
sitemap: true
redirect_from:
    - "/sessions/56/"
    - "/sessions/"
title: "Hoe stemt het Belgische parlement?"
description: "Volg het stemgedrag van Belgische partijen en parlementsleden. Ontdek hoe fracties en kamerleden stemmen over wetten en dossiers."
---

<!-- HERO -->
{% include "landing/hero.njk" %}

<main class="center-grid">
    <div class="center-grid-content">
        <!-- NEWS -->
        {% include "landing/news.njk" %}

        <hr>

        <!-- QUICK LINKS -->
        {% include "landing/quick-links.njk" %}

         <hr>

        <!-- TOPICS -->
        {% include "landing/topics.njk" %}

         <hr>

        <!-- CALENDAR -->
        {% include "landing/calendar.njk" %}

        <!-- NIEUWSBRIEF -->
        <!-- -->
    </div>
</main>
