<h2 data-i18n="linksTitle">Verslagen en informatie</h2>
<p data-i18n="linksSubtitle">Een overzicht van alle documenten en verslagen van De Kamer.</p>

<div class="quick-links">
    <a class="quick-link" href="/meetings/">
        <div class="flex-row gap-small align-items:start">
            <span class="icon-padded">{% icon "lucide:calendar-days", { "stroke": "#003b64" } %}</span>
            <div class="flex-col gap-small">
                <h3 class="capitalize" data-i18n="meetings">Vergaderingen</h3>
                <p data-i18n="linksMeetingsDescription">Bekijk de verslagen alle plenaire en commissievergaderingen.</p>
            </div>
        </div>
    </a>

    <a class="quick-link" href="/members/">
        <div class="flex-row gap-small align-items:start">
            <span class="icon-padded">{% icon "lucide:user-round", { "stroke": "#003b64" } %}</span>
            <div class="flex-col gap-small">
                <h3 class="capitalize" data-i18n="chamberMembers">Kamerleden</h3>
                <p data-i18n="linksMembersDescription">Bekijk de 150 kamerleden die zetelen in het federaal parlement.</p>
            </div>
        </div>
    </a>

    <a class="quick-link" href="/fractions/">
        <div class="flex-row gap-small align-items:start">
            <span class="icon-padded">{% icon "lucide:users", { "stroke": "#003b64" } %}</span>
            <div class="flex-col gap-small">
                <h3 class="capitalize" data-i18n="fractions">Fracties</h3>
                <p data-i18n="linksFractionsDescription">Bekijk de 12 partijen die actief zijn in het federaal parlement.</p>
            </div>
        </div>
    </a>

    <a class="quick-link" href="/dossiers/">
        <div class="flex-row gap-small align-items:start">
            <span class="icon-padded">{% icon "lucide:paperclip", { "stroke": "#003b64" } %}</span>
            <div class="flex-col gap-small">
                <h3 class="capitalize" data-i18n="dossiers">Dossiers</h3>
                <p data-i18n="linksDossiersDescription">Bekijk alle dossiers waarover de kamerleden hebben gestemd.</p>
            </div>
        </div>
    </a>

    <a class="quick-link" href="/topics/">
        <div class="flex-row gap-small align-items:start">
            <span class="icon-padded">{% icon "lucide:tag", { "stroke": "#003b64" } %}</span>
            <div class="flex-col gap-small">
                <h3 class="capitalize" data-i18n="topics">Onderwerpen</h3>
                <p data-i18n="linksTopicsDescription">Bekijk alle onderwerpen die aan bod komen in het federaal parlement.</p>
            </div>
        </div>
    </a>

    <a class="quick-link" href="/lobby/">
        <div class="flex-row gap-small align-items:start">
            <span class="icon-padded">{% icon "lucide:euro", { "stroke": "#003b64" } %}</span>
            <div class="flex-col gap-small">
                <h3 class="capitalize" data-i18n="lobbyRegister">Lobbyregister</h3>
                <p data-i18n="linksLobbyDescription">Bekijk alle bedrijven en organisaties die het wetgevingsproces beïnvloeden.</p>
            </div>
        </div>
    </a>

    <a class="quick-link" href="/government/">
        <div class="flex-row gap-small align-items:start">
            <span class="icon-padded">{% icon "lucide:landmark", { "stroke": "#003b64" } %}</span>
            <div class="flex-col gap-small">
                <h3 class="capitalize" data-i18n="federalGovernment">Federale regering</h3>
                <p data-i18n="linksGovernmentDescription">Bekijk alle ministers in de federale regering.</p>
            </div>
        </div>
    </a>

    <a class="quick-link" href="/commissions/">
        <div class="flex-row gap-small align-items:start">
            <span class="icon-padded">{% icon "lucide:search", { "stroke": "#003b64" } %}</span>
            <div class="flex-col gap-small">
                <h3 class="capitalize" data-i18n="commissions">Commissies</h3>
                <p data-i18n="linksCommissionsDescription">Bekijk alle commissies en hun leden.</p>
            </div>
        </div>
    </a>
</div>
